/* This is empty CSS file intended to be overwritten by user's custom CSS file */

/* Used to size background image */
.home {
  height: 20vh;
  padding: 0;
  margin: 0;
  color: #f9fafc;
  overflow: hidden;
}

/* Used to display background image */
.background {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    transform: scale(1.0);
    filter: blur(0px);
    /*
    transform: scale(1.1);
    filter: blur(3px);
    */
    background-size: cover;
}

/* Used to display author image */
.author-profile img {
  visibility: hidden;
  height: 120px;
  width: 120px;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: #f9fafc;
  padding: 5px;
}

/* Used to display author circle */
.d-block{display:none!important}

/* Used to display bouncing arrow */
.arrow-center {
    display: none;
    justify-content: center;
}

/*
Embedded Excel sheet from OneDrive
e.g.
https://portfoliocharts.com/portfolio/financial-independence/

https://support.microsoft.com/en-us/office/embed-your-excel-workbook-on-your-web-page-or-blog-from-sharepoint-or-onedrive-for-business-7af74ce6-e8a0-48ac-ba3b-a1dd627b7773
https://support.microsoft.com/en-us/office/share-it-embed-an-excel-workbook-on-your-web-page-or-blog-from-onedrive-804e1845-5662-487e-9b38-f96307144081#:~:text=In%20OneDrive%2C%20right%2Dclick%20the,range%2C%20PivotTable%2C%20or%20table.

https://stackoverflow.com/questions/24069050/how-to-hide-cover-a-certain-part-of-an-iframe
http://jsfiddle.net/ey72X/

https://social.technet.microsoft.com/Forums/en-US/a98f1112-cc56-43ae-97cc-c0f48737cf38/sharepoint-2016-how-to-erase-the-toolbar-in-a-embed-excel?forum=onlineservicessharepoint

*/

#TaxSheetUK {
  position: relative;
  width: 100%;
  height: 1200px;
}

/*
Not required since we can use the .wrapper defined by the main theme

.wrapper{
  position:relative;
  z-index: 1;
  display: inline-block;
}
*/

.hideBottom {
  position: absolute;
  width: 100%;
  height: 30px;
  background: #f9fafc;
  right: 0px;
  bottom: 0px;
  z-index:999;
  display: block;
/*  color: #fff; */
}
